$grid-gutter: 30px; //total whitespace between columns
$size-desktop: 1024px; // desktop starts at this point
$size-tablet: 768px; // tablet starts at this point
$grid-min-size: 320px; // grid's minimum width (incl. outer spacing)
$grid-max-size: 1020px; // grid's maximum width (incl. outer spacing)
