*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  max-width: $grid-max-size;
  min-width: $grid-min-size;
  margin-left: auto;
  margin-right: auto;

  &:after {
    display: table;
    clear: both;
    content: "";
  }

  &.double-outer-gutter {
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;
  }

  [class*='col-'] {
    float: left;
    padding-left: $grid-gutter/2;
    padding-right: $grid-gutter/2;
  }

  .grid {
    margin-left: -$grid-gutter/2;
    margin-right: -$grid-gutter/2;
  }
}

/* desktop */
@include desktop-mq() {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: (100%/12*$i);
    }
  }

  @for $i from 1 through 11 {
    .push-lg-#{$i} {
      margin-left: (100%*$i/12);
    }
  }
}

/* tablet */
@include tablet-mq() {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: (100%/12*$i);
    }
  }

  @for $i from 0 through 11 {
    .push-md-#{$i} {
      margin-left: (100%*$i/12);
    }
  }
}

/* mobile */
@include mobile-mq() {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: (100%/12*$i);
    }
  }

  @for $i from 0 through 11 {
    .push-sm-#{$i} {
      margin-left: (100%*$i/12);
    }
  }
}

@include gte-tablet-mq() {
  .mobile-only {
    display: none;
  }
}

@include mobile-mq() {
  .mobile-hide {
    display: none;
  }
}
